* {
    padding: 0;
    margin: 0;
}

.header {
    padding-left: 10px;
    padding-top: 10px;
    /*margin: 10px;*/
    background-color: darkolivegreen;
    height: 50px;
    font-size: 25px;


}


.contener {
    display: flex;
    flex-direction: row;


}

.cent {

    padding-left: 10px;
    padding-top: 10px;
    width: 80%;
    font-weight: bold;


}

.left {
    background-color: aliceblue;
    width: 20%;
    /*height: 100%;*/
    padding-left: 20px;
    padding-top: 10px;


}

.foter {
    background-color: darkolivegreen;
    height: 40px;
}

.art {
    margin-top: 40px;
    box-sizing: border-box;

}

img {
    width: 200px;
    height: 400px;
}

.left1 {
    background-color: #0c68b7;
    width: 20%;
    height: 500px;
    padding-left: 10px;
    padding-top: 10px;


}

.ar {
    box-sizing: border-box;
}






